PERSISTENCE_ENABLED=true

MONGO_URI=mongodb://user:...
MONGO_DATABASE=
MONGO_COLLECTION=

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=your_minio_password
MINIO_SECURE=false
MINIO_BUCKET=kedra-documents
MINIO_PREFIX=documents